@import './styles/accordion'
@import './styles/accordion-container'
@import './styles/accordion-header'
@import './styles/accordion-panel-content'

body
  font-family: 'Inter', sans-serif
  font-size: 16px
  background-color: #35b967
  color: white

a
  text-decoration: none

  &:focus,
  &:active
    outline: none
    border: none
    appearance: none
    text-shadow: none

.container
  margin: 0 auto
  max-width: 1320px

.description
  display: inline-block
  background: rgba(0, 0, 0, 0.7)
  padding: 0.25rem 1rem
  border-radius: 6px

  @media (min-width: 1200px)
    position: fixed
    bottom: 1rem
    left: 1rem

  h1, p
    display: inline-block

  p
    margin-top: 0
    margin-bottom: 0.7rem

  h1
    font-family: 'Titillium Web', sans-serif
    font-size: 1rem

.social-bar
  position: fixed
  bottom: 1.5rem

  @media (min-width: 1200px)
    position: fixed
    bottom: 1.5rem
    right: 1rem

  a
    color: white
    display: inline-block
    background: rgba(0, 0, 0, 0.7)
    margin: 0.5rem 0.25rem
    padding: 0.5rem 1rem
    border-radius: 6px

    @media (min-width: 1200px)
      display: inline-block
      margin: auto 0.25rem
